* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 480px) {
  body > div,
  #root > div {
    max-width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
}