* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 430px) {
  div {
    max-width: 100% !important;
  }
}